@{
    ViewBag.Title = "Index";
}

<h2>Buildings For Company @ViewBag.Name</h2>

@Html.Partial("_Toolbar")
<table id="buildings" class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Units</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: items">

        <tr class="form-group">
            <td class="col-md-3"><input type="text" class="form-control input-sm" data-bind="value: name"></td>
            <td class="col-md-3"><input type="text" class="form-control input-sm" data-bind="value: address"></td>
            <td class="col-md-2"><input type="text" class="form-control input-sm" data-bind="value: city"></td>
            <td class="col-md-1"><input type="text" class="form-control input-sm" maxlength="2" data-bind="value: state"></td>
            <td class="col-md-2"><input type="text" class="form-control input-sm" maxlength="5" data-bind="value: zip"></td>
            <td class="col-md-1"><a data-bind="attr: { href: '@Url.Action("Units", "Home")/' + id() }" class="btn btn-info btn-sm">Units</a></td>
            <td class="col-md-1"><a data-bind="attr: { href: '@Url.Action("Leases", "Home")/@ViewBag.Id?buildingid=' + id() }" class="btn btn-info btn-sm">Leases</a></td>
            <td class="col-md-1">
                @Html.Partial("_DeleteButton")
            </td>
        </tr>
    </tbody>
</table>

@section Scripts {
    <script>
        $(function () {
            var viewModel = new propertyManager.ViewModel('@Url.RouteUrl("buildings", new { httproute = "", companyid = ViewBag.Id })', { "name": "New Building", "state": "MN" });
            viewModel.get(function () {
                ko.applyBindings(viewModel);
            });
        });
    </script>
}