@{
    ViewBag.Title = "Leases";
}

<h2>Leases For @ViewBag.Name</h2>

@Html.Partial("_Toolbar")
@Html.Partial("_LeasesGrid")

@section Scripts {
    <script type="text/javascript">
        $(function() {
            var url = "@Url.RouteUrl("leases", new {httproute = "", companyid = ViewBag.Id})";
            var defaults = {};
            @if (!string.IsNullOrEmpty(ViewBag.BuildingId))
            {
                @:url += "?buildingid=@ViewBag.BuildingId";
                @:defaults.buildingId = "@ViewBag.BuildingId";
            }
            @if (!string.IsNullOrEmpty(ViewBag.UnitId))
            {
                @:url += "&unitid=@ViewBag.UnitId";
                @:defaults.unitId = "@ViewBag.UnitId";
            }
            @if (!string.IsNullOrEmpty(ViewBag.TenantId))
            {
                @:url += "&tenantid=@ViewBag.TenantId";
                @:defaults.tenantId = "@ViewBag.TenantId";
            }
            var viewModel = new propertyManager.ViewModel(url, defaults);
            viewModel.get(function() {
                ko.applyBindings(viewModel);
            });
        });
    </script>
}