@using MvcApplication.Controllers.Api
@using MvcApplication.Models
@{
    ViewBag.Title = "Tenants";
}

<h2>Tenants</h2>
@Html.Partial("_Toolbar")
<table id="tenants" class="table table-striped table-hover ">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Phone</th>
		</tr>
	</thead>
	<tbody data-bind="foreach: items">
		<tr class="form-group">
			<td class="col-md-4"><input type="text" class="form-control input-sm" data-bind="value: firstName"></td>
			<td class="col-md-4"><input type="text" class="form-control input-sm" data-bind="value: lastName"></td>
			
			<td class="col-md-4"><input type="tel" class="form-control input-sm" data-bind='maskedInput: homePhone, mask: " (999) 999-9999"'"></td>
			<td class="col-md-1"><a data-bind="attr: { href: '@Url.Action("TenantDetails", "Home")/' + id() + '?companyid=' + companyId() }" class="btn btn-info btn-sm">Details</a></td>
			<td class="col-md-1"><a data-bind="attr: { href: '@Url.Action("LeaseDetails", "Home")/' + id() + '?companyid=' + companyId() + '&tenantId=' + id() }" class="btn btn-info btn-sm">Lease</a></td>
			<td class="col-md-1">
		        @Html.Partial("_DeleteButton")
		    </td>
		</tr>
	</tbody>
</table>

@section Scripts {
	<script>
		$(function () {

			ko.bindingHandlers.maskedInput = {
				init: function (element, valueAccessor, allBindings, viewModel, bindingContext) {
					ko.bindingHandlers.value.init(element, valueAccessor, allBindings, viewModel, bindingContext);
				},
				update: function (element, valueAccessor, allBindings, viewModel, bindingContext) {
					ko.bindingHandlers.value.update(element, valueAccessor, allBindings, viewModel, bindingContext);
					$(element).mask(allBindings.get('mask'));
					valueAccessor()($(element).val());
				}
			};


			var viewModel = new propertyManager.ViewModel('@Url.RouteUrl("tenants", new {httproute = ""})', { "firstName": "New Tenant" });
			viewModel.get(function() {
				ko.applyBindings(viewModel);
			});
		});

		
	</script>
}